header {
    height:70px;
    width:100%;
    background-color: #FFF;
    border-bottom: 1px solid #CCCCCC;
}
header .logo {
    display: block;
    height: 100%;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
header .logo span {
    display: block;
    width: 150px;
    height: 80%;
    background: url("../images/logo.png") no-repeat center center/cover;
}
/* .under-logo {
    width: 150px;
    margin-left: 20px;
    border-bottom: 4px solid #FF5A5F;
} */