.filters {
    height: 70px;
    width: 100%;
    background-color: #FFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filters button {
    justify-self: flex-end;
    align-self: center;
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
}
.filters button:hover {
    opacity: 90%;
}
.filters .locations,
.filters .amenities {
    height: 100%;
    width: 25%;
    /* text-align: center; */

    position: relative;
}
.locations {
    margin-left: 30px;
    border-right: 1px solid #DDDDDD;
}
.filters .locations h3,
.filters .amenities h3 {
    font-weight: 600;
    margin-bottom: 0;
}
.filters .locations h4,
.filters .amenities h4 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
}
.filters .popover {
    display: none;
    z-index: 10; /* to display above anything else, say places */
    position: absolute;
    width: 96%;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-block: 0;

    list-style: none;
}
.filters .locations .popover {
    left: -30px;
}
.filters .amenities .popover {
    left: -48%;
}
.filters .popover h2 {
    font-size: 16px;
    margin-bottom: 0;
}
.filters .locations:hover .popover,
.filters .amenities:hover .popover {
    display: block;
}
.filters ul li {
    padding-left: 20px;
    padding-top: 10px;
}
.filters ul li:last-child {
    padding-bottom: 10px;
} 